@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <img src="~/Content/Images/new_batman2.jpg" />
    <img src="~/Content/Images/bone_wallpaper_small.jpg" />
    <img src="~/Content/Images/the-walking-dead-50.jpg" />
</div>

<p>
    ComicsOnline takes your orders to be picked up at one of our local Comics Superstores.
    Browse our store. Create an account, and add to your pull list, to add regular issued comics for pickup every month. Give us a shot!
</p>
