@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Comics 'R Us<br />
    123 Lenin Hwy<br />
    Iowa City, IA 52240<br />
    <abbr title="Phone">P:</abbr>
    319.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@comicsonline.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@comicsonline.com</a>
</address>