@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Comics!</h1>
    <p class="lead">The Comic Book Ordering System is a fast and easy way to get your comics ordered.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Browse our list of currently available comics. Create an account and add to your pull list. Go ahead and try us out!
        </p>
        <p><a class="btn btn-default" href="../Comics/Index">Browse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get comics news</h2>
        <p>CBR - The World's Top Destination For Comic, Movie & TV news.</p>
        <p><a class="btn btn-default" href="http://www.cbr.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employee Portal</h2>
        <p>Assist our customers, enter new comics and see what's available through the handy dandy employee portal.</p>
        <p><a class="btn btn-default" href="../Account/RegisterEmployee">Register &raquo;</a></p>
    </div>
</div>